:root {
  --navWidth:100%;
  --navHeight:65px;
  --fullPageSize: calc(100vh - 66px);
  --wineDeepRed: #670A0A;
  --wineLightRed: #b03138;

}

* {
  margin:0px;
  padding:0px;
}

nav {
  width: var(--navWidth);
  height: var(--navHeight);
  display: flex;
  justify-content:first baseline;
  align-items: center;
}

body {
  margin:0px;
}

/* NavBar Class */

.custom-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.mainTitle {
  font-size: 35px;
  font-family: 'lato';
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.custom-nav a {
  text-decoration: none;
}


.header {
  width: fit-content;
}

.heroImage {
  width: 100%;
  height: var(--fullPageSize);
  background-image: url(./assets/images/cellar3dSplash.png);
  background-size: cover;
  background-position: center center;
}

.heroText {
  color: white;
  font-size: 45px;
  display: flex;
  justify-content: center;
  padding-top: 25%;
  
}


#nav-item {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 20px;
	border-radius: 1px;
	border: none;
	transition: all 0.4s ease 0s;
  width: 100px;
}

#nav-item:hover {
	background: var(--wineDeepRed);
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#nav-item a {
  color: #fff;
}

/* Stylization for the cellar page */

.cellarPage {
  width:100vw;
  height:var(--fullPageSize);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap:5px;
  font-family: 'lato';
}

.cellarPage header {
  width: calc(100vw - 90px);
  padding:0px 45px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cellarPage header a {
  display:flex;
  float: left;
  font-family: 'lato';
  color: #202121;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.cellarPage header a img {
  height: 45px;
  padding: 10px 0px;
}


.cellarPage .cellarItem {
  width: calc(25% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: calc((100vh - 155px) / 4);
  background-color: aquamarine;
  font-family: 'lato';
}

.cellarItem button{
  width:100%;
  height:100%;
  font-family: 'lato';
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .1em;
  transition: .35s ease-in-out;
}

.cellarItem button:hover {
  transition:.35s ease-in-out;
  filter: invert();
  cursor: pointer;
}

/* Stylization for the bottle form */

.bottleForm {
  display: flex;
  width: 65%;
  padding:45px;
  height: 500px;
  background-color: #f9fafb;
  margin:calc(50vh - 295px) calc(17.5% - 45px);
  position: relative;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items:center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border-radius: 5px;
}

.bottleForm form {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.bottleForm h4 {
position: absolute;
width: fit-content;
left:10px;
top:10px;
}

.bottleForm label {
  font-family: 'lato';
  font-weight: 400;
  font-size:10pt;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.bottleForm input {
  width: 100%;
  text-align: center;
  font-family:'lato';
  font-weight: 400;
  font-size:14pt;
  padding:10px 0px;
}

.bottleForm input:last-of-type {
  background-color: #ed3330;
  color:#f9fafb;
  transition: .35s ease-in-out;
  border: none;
  width:auto;
  padding: 10px 35px;
  border-radius: 5px;
}

.bottleForm input:last-of-type:hover {
  background-color: var(--wineDeepRed);
  color: #f9fafb;
  transition:.35s ease-in-out;
}

.modalCloseBtn {
  position: absolute;
  width: 35px;
  height:35px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #202121;
  top: 0px;
  font-family: monospace;
  font-size: 35px;
  line-height: 35px;
  display: block;
  left: calc(17.5% - 35px);
  top: calc(50vh - 350px);
}

/* Stylization for the login page */

section.loginPage,
section.signUpPage {
  width:100vw;
  height: calc(100vh - 66px);
  background-color: #f9fafb;
  font-family:'lato';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section.loginPage h2,
section.signUpPage h2 {
  width: 100%;
  font-family: 'lato';
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 30pt;
  font-weight: 300;
}

section.loginPage p,
section.signUpPage p {
  width: 100%;
  height: fit-content;
  padding:25px 0px;
  text-align: center;
  font-size:12pt
}

section.loginPage p:first-of-type,
section.signUpPage p:first-of-type {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
  font-size:10pt;
}

section.loginPage form,
section.signUpPage form {
  width:100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 15px;
}

section.loginPage form label,
section.signUpPage form label {
  text-transform: uppercase;
  line-height: 10px;
}

section.loginPage form input,
section.signUpPage form input {
  font-size: 14pt;
  padding:10px 15px;
}

section.loginPage form input:last-of-type,
section.signUpPage form input:last-of-type {
  background-color:#ed3330;
  color: #f9fafb;
  border-radius: 5px;
  border: none;
  padding:10px 25px;
  transition: .35s ease-in-out;
  letter-spacing: .1em;
}

section.loginPage form input:last-of-type:hover,
section.signUpPage for input:last-of-type:hover {
  background-color: var(--wineDeepRed);
  transition: .35s ease-in-out;
}
