:root {
  --navWidth:100vw;
  --navHeight:65px;
  --fullPageSize: calc(100vh - var(--navHeight));
  --wineDeepRed: #670A0A;
  --wineLightRed: #b03138;

}

* {
  margin:0px;
  padding:0px;
}

nav {
  width: var(--navWidth);
  height: var(--navHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* NavBar Class */

.custom-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.mainTitle {
  font-size: 60px;
}

.custom-nav a {
  text-decoration: none;
}


.header {
  width: 75%;
}

.heroImage {
  width: 100%;
  height: var(--fullPageSize);
  background-image: url(./assets/images/cellar3dSplash.png);
  background-size: cover;
  background-position: center center;
}

.heroText {
  color: white;
  font-size: 45px;
  display: flex;
  justify-content: center;
  padding-top: 25%;
  
}


#nav-item {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 20px;
	border-radius: 1px;
	border: none;
	transition: all 0.4s ease 0s;
  width: 100px;
}

#nav-item:hover {
	background: var(--wineDeepRed);
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#nav-item a {
  color: #fff;
}

/* Stylization for the cellar page */

.cellarPage {
  width:100vw;
  height:var(--fullPageSize);
}

.cellarPage header {
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellarPage header img {
  height: 65px;
  display: inline-block;
}

.cellarPage header a {
  display:inline-block
}

.cellarPage .cellarItem {
  width: calc(100vw / 4 - 5px);
  display: block;
  float: left;
  z-index: 3;
}

.cellarPage .cellarItem .bottleForm {
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 15;
}